.images-navigation-viewer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: auto;
}
.current-image{
    height: 300px;
    min-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.current-image > img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    margin: auto;
}
.list-images{
    display: flex;
    gap: 5px;
    width: 100%;
    overflow-x: auto;
}
.list-images > img{
    opacity: 0.7;
    max-width: 60px;
    padding: 5px;
}
.list-images > img.active{
    padding: 0;
    opacity: 1;
    border: 1px solid white;
}
.single-product-container{
    display: flex;
    padding: 20px 50px;
    justify-content: center;
}
.single-product-info{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    gap: 10px;
}
.single-product-info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}
.store-name{
    width: 100%;
    font-weight: 300;
    color: rgb(196, 196, 196);
    border-bottom: 1px solid white;
}
.store-name p span{
    color: rgb(34, 38, 255);
}
.product-price p {
    font-weight: 900;
    color: white;
    font-size: 40px;
}
.single-product-add-to-cart{
    min-width: 250px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}
.add-to-cart-product-price p{
    font-size: 24px;
    font-weight: 600;
}
.add-to-cart-product-stock p{
    font-size: 18px;
    font-weight: 600;
}
.add-to-cart-order-quantity{
    display: flex;
    gap: 10px;
}
.add-to-cart-order-quantity label{
    font-size: 18px;
}
.add-to-cart-total-price{
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid white;
}
.add-to-cart-total-price p {
    font-size: 18px;
}
.product-tags{
    display: flex;
}
.product-tags p{
    color: white;
    font-size: 15px;
    background-color: rgb(44, 93, 255);
    width: auto;
    padding: 2px 4px;
    border-radius: 5px;
}
.product-desc{
    font-size: 15px;
    color: rgb(231, 231, 231);
}
.product-info h3{
    font-weight: 600;
}
.product-info h5{
    font-weight: 600;
}
.single-product-attribute{
    display: flex;
    align-items: center;
    gap: 20px;
}
.product-attributes{
    margin-bottom: 20px;
}
.product-attributes h3{
    color :rgb(44, 93, 255) ;
}