.categorie-price-from-section{
    margin: 20px 8%;
}
.categorie-price-from-section-container{
    border: 1px solid #DEE2E7;
    border-radius: 10px;
    background-color: white;
    display: flex;
    position: relative;
}
.cpf-info{
    padding: 20px;
    position: relative;
    overflow: hidden;
    min-width: 260px;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1
}
.shadow-cat{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 16, 37, 0.5);
    z-index: 2
}
.cpf-info h1{
    font-size: 20px;
    position: relative;
    z-index: 3;
    color: white;
}
.cpf-info img{
    position: absolute;
}
.cpf-items{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.cpf-single-item{
    display: flex;
    padding: 10px;
    border-left: 1px solid #DEE2E7;
    border-bottom: 1px solid #DEE2E7;
    color: #1c1c1c;
    gap: 10px;
    position: relative;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}
.cpf-single-item img{
    max-width: 80px;
    width: fit-content;
    object-fit: contain;
    margin-top: 30%;
    
}
.cpf-single-item h3{
    font-size: 1.2vw;
    font-weight: 400;
    opacity: 0.8
}
.cpf-single-item p {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5;
}
@media only screen and (max-width: 1150px) {
    .categorie-price-from-section{
        width: 100%;
        margin: 20px 0;
    }
}
@media only screen and (max-width: 920px) {
    .cpf-items{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
    }
    .cpf-single-item h3{
        font-size: 18px;
    }
    .cpf-single-item p{
        font-size: 18px;
    }
}
@media only screen and (max-width: 680px) {
    .categorie-price-from-section-container{
        flex-direction: column;
    }
    .cpf-info{
        height: 200px;
    }
}