.SDsidebar{
    width:fit-content;
}
.SDsidebar-title{
    background-color: #263043;
    color: white;
    padding: 15px 20px;
    border-bottom: 1px solid black;
}
.seller-dash-layout{
    padding: 40px 120px;
    display: flex;
    gap: 20px;
}
.SDsidebar-list{
    padding: 0;
    background-color: #263043;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}
.SDsidebar-list li a{
    color: white;
    text-decoration: none;
    display: flex;
    gap: 5px;
}
.SDsidebar-list-item:hover{
    background-color: rgb(23, 58, 255);
}
.SDsidebar-list-item{
    position: relative;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.SDsidebar-list-item.active{
    background-color: rgb(23, 58, 255);
}
.sd-container{
    background-color: #263043;
    /* padding: 10px; */
    width: 100%;
    position: relative;
}
.sd-section-title{
    background-color: rgb(23, 58, 255);
    padding: 10px 20px;
    display:flex;
    justify-content: space-between;
}
.sd-section-title h1{
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.sd-section-main{
    color: white;
    padding: 20px;
}
.analytics{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.analytics-info{
    padding: 20px 40px;
    /* font-weight: 900; */
    background-color: rgb(23, 58, 255);
    min-width: 180px;
    font-size: 20px;
}
.analytics-info span{
    font-size: 30px;
    font-weight:300;
}
.orders-prods{
    display: flex;
    gap: 20px;
}
.pr-analytics{
    padding: 20px;
    background-color: rgb(23, 58, 255);
    width: 100%;
    min-width: 300px;
    border-radius: 10px;
    margin: 20px 0;
    height: 100%;
}

.pr-analytics h3{
    display: flex;
    gap: 10px;
}
.pr-analytics ul{
    width: 100%;
}
.pr-analytics ul li{
    display: flex;
    justify-content: space-between;
}
.seller-edit-img{
    width: 100%;
}
.store-banner-img{
    width: 100%;
}
.store-logo-img{
    width: 100px;
}
.prods-actions{
    display: flex;
    gap:5px
}
.prods-actions > svg{
    cursor: pointer;
}
.sd-sections-nav{
    display: flex;
    gap: 50px;
    /* justify-content: space-between; */
}
.single-sd-section{
    display: flex;
    gap:10px;
    justify-content: center;
    cursor: pointer;
}
.single-sd-section.active{
    color: rgb(11, 48, 255);
    border-bottom: 1px solid rgb(11, 48, 255);
}
.sd-singleproduct-section{
    position: relative;
}
.view-image-fullscreen{
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    background-color: #92a4c7;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    padding: 20px;
}
.view-image-fullscreen img{
    z-index: 100;
    height: 100%;
}
.exit-fullscreen{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(255, 69, 69);
}
.store-container{
    position: relative;
    height: 100%;
}
.store-header{
    max-height: 400px;
    position: relative;
}
.store-banner{
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1000px rgba(11, 20, 77, 0.548);
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/004/299/835/small/online-shopping-on-phone-buy-sell-business-digital-web-banner-application-money-advertising-payment-ecommerce-illustration-search-free-vector.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}
.store-banner img{
    width: 100%;
    visibility: hidden;
}
.store-info img{
    height: 50%;
    z-index: 100;
    border-radius: 50%;
}
.store-info{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    padding: 0 50px;
    padding-top: 50px;
    z-index: 100;
    gap: 20px;
    position: absolute;
    top: 0;
    color: white;
}
.store-title-description h1{
    font-weight: 900;
}
.store-title-description p{
    font-weight: 300;
}
.store-products{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding: 50px;
    position: relative;
}
.single-store-product{
    width: 100%;
    padding: 20px;
    /* border: 1px solid black; */
    color: white;
}
.single-store-product img{
    width: 100%;
}
.addprod-pop-container{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
}
.addprod-pop-main{
    position: relative;
    width: 600px;
    height: 100%;
    background-color: #263043;
    z-index: 9999;
    padding: 30px 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
.add-button{
    display: flex;
    justify-content: end;
}
.info-prod-sell-now{
    display: flex;
    gap: 20px;
}
.info-prod-sell-now img{
    width: 200px;
    object-fit:cover
}
.client-cart-pop-container{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
}
.client-cart-pop{
    position: relative;
    background-color: #2e3c57;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 300px;
    height:fit-content;
    padding:20px 10px;
}
.exit-client-cart{
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 5px;
}
.x-close{
    font-size: 24px;
    color: rgb(253, 62, 62);
    cursor: pointer;
}
.client-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.client-avatar{
    width: 120px;
    height: 120px;
}
.client-avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
}
.client-details{
    width: 100%;
}
.client-details h3{
    color: white;
    width: 100%;
    text-align: center;
}
.single-client-detail{
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid white;
    padding: 15px 10px;
    justify-content: space-between;
}
.single-client-detail.address{
    flex-direction: column;
}
.single-client-detail.address div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}