form {
    margin: 0 auto;
}

.auth-heading {
    text-align: center;
    font-family: serif;
    padding-bottom: 20px;
}

.btnAuth {
    margin-top: 3%;
}

.bottom-msg-paragraph {
    text-align: center;
    padding-top: 20px;
}

.bottom-msg-paragraph a:hover {
    text-decoration: underline;
}

.form-text {
    margin-left: 4px;
}
.CheckboxMenu .dropdown-item:hover,
.CheckboxMenu .dropdown-item:active {
  background-color: transparent;
  color: black;
}

/* .field-errors{
    display: flex;
    flex-direction: column;
    gap: -5px;
} */
.field-errors p {
    margin: 0;
}
.toggle-button{
    display: flex;
    justify-content: center;
    gap: 10px;
}